html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Disable scrolling on the entire page */
  height: 100%; /* Ensure the body takes up the full height */
}

.query-button {
  background-color: red;
}

.cat-image {
  max-width: 800px;
  max-height: 600px;
  width: auto;
  height: auto;
}
.whole-page {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}